
body{
    background-image: url(../imgs/fondo_1025.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenido{
    width: 100%;
    padding: 15px;
}
.contenedor {
    width: 100%;
    position: relative;
    height: 279px;
}
.formulario{
    background: rgba(20, 19, 19, 0.68);
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    /*color:  #2196f3;*/
    color: whitesmoke;
    font-size: 35px;
    font-family: 'Baloo Thambi 2', cursive;
}

h2{
    text-align: center;
    /*color:  #2196f3;*/
    color:whitesmoke;
    font-size: 20px;
    font-family: 'Baloo Thambi 2', cursive;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid rgba(170, 170, 170, 0);
}
.icon{
    min-width: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #2196f3;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background:rgba(10, 83, 133, 0.897);
}
p{
    text-align: center;
    color:white;
}
.link{
    text-decoration: none;
      color: #2196f3;
    font-weight: 600;
}
.link:hover{
     color: rgba(10, 83, 133, 0.897);
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 0.5%;
    }
}